*{
  padding: 0px;
  margin: 0px;
}
main{
  background-color: aqua;
  margin-left: 400px;
  width: 50%;
  height: 800px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  display: inline-flex;
}